* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-bar, .header-bar-flex-container, .header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bar-flex-container {
    width: 1200px;
    margin: 0 auto;
}

.header-bar-flex-container h1{
    font-size: 2rem;
    color: white;
}


.header-bar {
    background-color: #9fc5f8;
    height: 80px;
    margin-bottom: 20px;
}

.header-links {
    list-style: none;
    justify-content: space-between;
    width: 50%;
    color: white;
    font-size: 1.3em;
}

.nav-bar, .nav-flex-container, .temp-picker-flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-flex-container {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}


.temp-picker-flex-container {
    width: 50%;
    justify-content: flex-end;
}

.flex-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 380px;
    margin-top: 20px;
    background-color: #eeeeee;
    justify-content: space-evenly;
}

.figure {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.temp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
    margin: 0 auto;
}

.max-temp, .min-temp {
    align-self: flex-start;
    font-size: 20px;
}

.max-temp{
    color: red;
}

.min-temp {
    color: blue;
}

.cookies {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    border: 3px solid black;
    height: 150px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}


.cookies-flex-container img {
    width: 50px;
    height: 60px;
}

/*.cookie-alert {
    display: flex;
    flex-direction: column;
}*/

#cookies-button {
    align-self: center;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    box-shadow: 4.5px 4px 0px 0px rgba(0,0,0,1);
    background-color: #9fc5f8;
    cursor:pointer;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}